// variables

// COLORS

$color-primary: hsl(180, 29%, 50%);
$color-light-gray: hsl(180, 52%, 96%);
$color-light-gray-tablet: hsl(180, 31%, 95%);
$color-dark-gray: hsl(180, 8%, 52%);
$color-darker-gray: hsl(180, 14%, 20%);

// MEDIA QUERIES

$mobile: 768px;
$desktop: 1440px;